<p-toast></p-toast>

<div class="container">
  <p>ButtonComponent</p>
  <app-button [buttonText]="'Example button'"></app-button>
</div>
<div class="container">
  <p>ButtonComponent Outline</p>
  <app-button [buttonText]="'Example button'" [outline]="true"></app-button>
</div>
<div class="container">
  <p>InputComponent</p>
  <app-input></app-input>
</div>
<div class="container">
  <p>Card dados do cliente</p>
  <app-card-client [clientData]="client"></app-card-client>
</div>
<div class="container">
  <p>Abrir modal de criar usuario</p>
  <app-button
    [buttonText]="'Criar usuario'"
    [outline]="true"
    (click)="openModalCreating()"
  ></app-button>
</div>

<div class="container">
  <p>Abrir modal de editar usuario</p>
  <app-button
    [buttonText]="'Editar usuario'"
    (click)="openModalEditing()"
  ></app-button>
</div>

<div class="container">
  <p>Abrir modal de excluir usuario</p>
  <app-button
    [buttonText]="'Excluir usuario'"
    [outline]="true"
    (click)="openModalDeleting()"
  ></app-button>
</div>
